body{
    background-image: url("https://images.pexels.com/photos/1672322/pexels-photo-1672322.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darksalmon;
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 12px;
    height: 18px;
  }

#snapshot_button {
    background-color: white;
    padding: 10px;
    border-radius: 90%;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}

#result_object, #result_accuracy {
    font-size: 30px;
    color: red;
    font-weight: 900;
}

ul {
    color: black; 
    font-size: 20px;
    font-weight: bold;
    list-style-position: inside;
    text-align: left;
}